@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    background-color: #F2F2F2;
}

.container {
    background-color: #FFFFFF;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    box-sizing: border-box;
    position: relative;
}

.navigation {
    display: flex;
}

.navigation-logo {
    margin-right: 28px;
    height: 64px;
}

.navigation-list,
.actions-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation-list {
    flex-wrap: wrap;
    width: 500px;
}

.navigation-link {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    padding: 20px 16px;
}

.current {
    text-decoration: 2px underline #756257;
    text-underline-offset: 24px;
}

.actions {
    display: flex;
    align-items: flex-start;
    width: 268px;
    font-size: 16px;
    line-height: 20px;
}

.actions-list {
    flex-grow: 1;
}

.actions-item {
    display: flex;
}

.actions-item:last-child {
    width: 100%;
    justify-content: flex-end;
}

.actions-link {
    display: block;
    padding: 22px 12px;
    min-width: 20px;
    min-height: 20px;
}

.actions-search {
    background-image: url(../images/icons/page-header/search.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
}

.actions-favourites {
    background-image: url(../images/icons/page-header/favourites.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    text-decoration: none;
}

.favourites-count {
    font-size: 10px;
    line-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 11px;
    left: 8px;
    background-color: rgba(125, 181, 79, 1);
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.actions-button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color:#ffffff;
    align-self: center;
    width: 160px;
    padding: 8px;
}

.main-container {
    flex-grow: 1;
}

.welcome {
    background-image: url("../images/backgrounds/index-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 485px;
    text-align: center;
    padding-top: 51px;
}

.advantages {
    text-align: center;
}

.advantages-header {
    padding: 69px 274px 90px;
}

.advantages-title {
    margin-top: 0;
    margin-bottom: 25px;
}

.advantages-text {
    margin: 0;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.advantages-item {
    width: 400px;
    padding: 102px 85px;
    background-color: rgba(131, 179, 211, 0.2);
    box-sizing: border-box;
}

.advantages-item:first-child {
    color: #ffffff;
    background-color: #83B3D3;
}

.advantages-item:last-child {
    color: #ffffff;
    background-color: #83B3D3;
}

.advantages-subtitle {
    margin-top: 0;
    margin-bottom: 30px;
}

.advantages-decoration-border {
    width: 60px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 0 85px 30px;
}

.advantages-decoration-border:first-child,
.advantages-decoration-border:last-child {
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    margin: 0 85px 30px;
}


.advantages-description {
    margin: 0;
}

.advantages-image {
    width: 800px;
    height: 385px;
}

.advantages-title,
.services-title,
.catalog-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.services-container {
    padding: 64px 274px;
}

.services-text {
    margin: 0;
}

.services-title {
    margin-top: 0;
    margin-bottom: 20px;
}

.services-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.services-item {
    width: 400px;
    padding: 85px 81px;
    background-color: rgba(131, 179, 211, 0.12);
    box-sizing: border-box;
}

.services-item-container {
    padding-top: 102px;
    width: 230px;
    margin: 0;
}

.accomodation {
    background-image: url("../images/icons/sedona-advantages/house.svg");
    background-repeat: no-repeat;
    background-position: top;
}

.food {
    background-image: url("../images/icons/sedona-advantages/burger.svg");
    background-repeat: no-repeat;
    background-position: top;
}

.souvenirs {
    background-image: url("../images/icons/sedona-advantages/present.svg");
    background-repeat: no-repeat;
    background-position: top;
}

.services-subtitle {
    margin-top: 0;
    margin-bottom: 30px
}

.services-description {
    margin: 0;
}

.control,
.hotels-type-label {
    font-size: 18px;
    line-height: 23px;
    color:#ffffff;
}

.breadcrumbs-list {
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0;
}

.breadcrumbs-item {
    font-size: 16px;
    line-height: 21px;
    margin-right: 10px;
    color: #ffffff;
}

.breadcrumbs-link:hover {
    opacity: 0.6;
    cursor: pointer;
}

.breadcrumbs-link:focus {
    color: #ffffff;
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.right-arrow {
    display: block;
    background-image: url("../images/icons/breadcrumbs/right-arrow.svg");
    background-repeat: no-repeat;
}

.hotels-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}

.hotels-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 20px;
    list-style-type: none;
    width: 1060px;
    padding: 0;
    margin: 0 auto 40px;
}

.hotels-item {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 1fr 21px 36px 37px;
    grid-template-areas:
        "link  link"
        "type  price"
        "btn   btn-2"
        "stars rating";
    padding: 20px;
    column-gap: 20px;
    row-gap: 16px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}

.hotels-item-image {
    margin-bottom: 10px;
}

.hotels-item-link {
    grid-area: link;
}

.hotels-item-title {
    margin: 0;
}

.hotels-item-type {
    grid-area: type;
    margin: 0;
}

.hotels-item-price {
    grid-area: price;
    margin: 0;
    margin-left: auto;
}

.hotels-button {
    grid-area: btn;
    padding: 8px 18px;
    text-align: center;
}

.additional,
.optional {
    grid-area: btn-2;
}

.stars-number {
    grid-area: stars;
    display: flex;
    padding: 10px 0;
}

.star {
    padding-right: 6px;
}

.star:last-child {
padding-right: 0;
}

.hotels-item-rating {
    grid-area: rating;
    margin: 0;
    padding: 9px 22px 8px 23px;
}

.hotels-item-link {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}

.hotels-item-rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.border {
    width: 1060px;
    border: 1px solid #E5E5E5;
    margin: 0 70px 40px;
}

.pagination {
    display: flex;
    width: 1060px;
    margin: 0 70px 60px;
    padding: 0;
}

.pagination-item:first-child {
    font-size: 20px;
    font-weight: 700;
}

.pagination-item {
    width: 60px;
    height: 60px;
    list-style-type: none;
    margin-right: 8px;
}

.pagination-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    height: 100%;
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    background-color: #F2F2F2;
}

.pagination-link:hover,
.pagination-link:focus {
    background-color: rgba(130, 179, 211, 1);
}

.advantages-subtitle,
.services-subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.advantages-description,
.services-description,
.hotels-item-type,
.hotels-item-price {
    font-size: 18px;
    line-height: 21px;
}

.services {
    text-align: center;
}

.subscription {
    background-image: url("../images/backgrounds/subscribe-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 96px 258px 104px;
}

.subscription-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
}

.subscription-description {
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 54px;
}

.subscription-form {
    display: flex;
    height: 52px;
}

.subscription-form-input {
    font-size: 18px;
    line-height: 24px;
    background-color: rgba(242, 242, 242, 1);
    width: 452px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 0;
}

.font-black {
    color:#000000
}

.hotels-container {
    background-image: url(../images/backgrounds/catalog-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 70px 70px 70px;
    width: 1060px;
}

.hotels-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 8px;
}

.hotels-form {
    height: 160px;
    display: flex;
    justify-content: space-between;
}

.hotels-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hotels-form-buttons {
    display: flex;
    flex-direction: column;
}

.hotels-search {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 96px 304px;
}

.hotels-search-title {
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hotels-search-text {
    margin-top: 0;
    margin-bottom: 54px;
}

.hotels-search-button {
    display: block;
    align-self: center;
    width: 376px;
    height: 52px;
    padding: 8px 50px;
    box-sizing: border-box;
}

.catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
    padding: 50px 70px 40px;
}

.catalog-title {
    margin: 0;
}

.catalog-view-tools {
    display: flex;
    box-sizing: border-box;
}

.catalog-sort {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    align-self: center;
    width: 292px;
    margin-right: 70px;
    padding: 12px 20px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.view-mode-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.view-mode-item {
    width: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 14px;
    border-radius: 4px;
    margin-right: 8px;
}

.view-mode-item:last-child {
    margin-right: 0;
}

.view-mode-link {
    display: block;
    padding: 17px 16px;
    width: 16px;
    height: 14px;
}

.view-mode-item:hover,
.view-mode-item:active {
    border-color: #000000;
}

.view-mode-item:focus {
    border-color: #68A2CA;
}

.view-list {
    background-image: url(../images/icons/view-mode/view-list.png);
    border: 2px solid rgba(0, 0, 0, 1);
}

.view-description {
    background-image: url(../images/icons/view-mode/view-description.png);
    border: 2px solid rgba(229, 229, 229, 1)
}

.view-cards {
    background-image: url(../images/icons/view-mode/view-cards.png);
    border: 2px solid rgba(229, 229, 229, 1)
}

.button {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border-width: 0;
    border-radius: 4px;
}

.button:hover {
    background-color: #615048;
}

.button:focus {
    background-color: #615048;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
}

.actions-button,
.hotels-button {
    font-size: 16px;
    line-height: 20px;
}

.additional {
    background-color: #83B3D3;
}

.additional:hover {
    background-color: #68A2CA;
}

.additional:focus{
    background-color: #68A2CA;
}

.additional:active {
    background-color: #83B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.optional {
    background-color: #7DB54F;
}

.optional:hover {
    background-color: #6C9E42;
}

.optional:focus {
    background-color: #6C9E42;
}

.optional:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.additional:disabled,
.optional:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.transparent {
    background-color: transparent;
}

.transparent:hover {
    background-color: transparent;
    opacity: 0.6;
}

.transparent:focus {
    background-color: transparent;
    border: 3px solid #83B3D3;
}

.transparent:active {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
}

.transparent:disabled {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.1);
}

.background-hidden {
    background-image: none;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 40px 70px 30px;
}

.social-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    width: 142px;
}

.social-item {
    display: flex;
    width: 33.33%;
    height: 40px;
    box-sizing: border-box;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social-link svg {
    fill: #83B3D3;
}

.social-link svg:hover,
.social-link svg:focus {
    fill: #68A2CA;
}

.social-link svg:active {
    fill: rgba(104, 162, 202, 0.3);
}

/* .vk {
    background-image: url(../images/icons/social/vk.svg);
    background-repeat: no-repeat;
    background-size: 24px 14px;
    background-position: center;
}

.telegram {
    background-image: url(../images/icons/social/telegram.svg);
    background-repeat: no-repeat;
    background-size: 18px 16px;
    background-position: center;
}

.youtube {
    background-image: url(../images/icons/social/youtube.svg);
    background-repeat: no-repeat;
    background-size: 22px 17px;
    background-position: center;
} */

.contacts-phone {
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}

.contacts-phone:hover,
.contacts-phone:focus {
    color: #756157;
}

.contacts-phone:active {
    color: rgba(117, 97, 87, 0.3)
}

.htmlacademy-link svg:hover,
.htmlacademy-link svg:focus {
    fill: #756157;
}

.htmlacademy-link svg:active {
    fill: rgba(117, 97, 87, 0.3)
}

.subscription-form-button {
    flex-grow: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
